<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>NgxJsContainerBridgeDemo</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/js/identity'"> Identity </a>
      <a mat-button [routerLink]="'/about'"> About </a>
    </div>
    <span class="example-fill-remaining-space"></span>
    <span>Hello: {{applicationManagerService.name}}</span>
  </mat-toolbar-row>

</mat-toolbar>

<router-outlet></router-outlet>
